<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div id="user-form">
    <h3>Для добавления, введите значения и нажмите кнопку "Применить"</h3>
    <form action="/admin/add" modelAttribute="user">
        <div class="user-label"><label>Username</label></div>
        <div><input class="create-user-input" name="username" type="text"></div>
        <br>
        <div class="user-label"><label>Password</label></div>
        <div><input class="create-user-input" name="password" type="password"></div>
        <br>
        <div class="user-label"><label>Имя</label></div>
        <div><input class="create-user-input" name="firstname" type="text"></div>
        <br>
        <div class="user-label"><label>Фамилия</label></div>
        <div><input class="create-user-input" name="lastname" type="text"></div>
        <br>
        <div class="user-label"><label>E-mail</label></div>
        <div><input class="create-user-input" name="email" type="text"></div>
        <br>
        <div class="user-label"><label>Возраст</label></div>
        <div><input class="create-user-input" name="age" type="text"></div>
        <br>
        <div>
            <label>Roles:</label>
            <select name="roles" th:value="user.roles" multiple>
                <option th:each="role : ${allroles}"
                        th:value="${role.id}"
                        th:text="${role.role}">
                </option>
            </select>
        </div>
        <input name="id" type="hidden" th:value="${user.getId()}">
        <br>
        <input class="create-user-form-button" type="submit" value="Применить"/>
    </form>
</div>
</body>
</html>